html,
body {
	width: 750px;
	cursor: default;
}

html,
body,
main {
	height: 565px;
	overflow-y: auto;
	overflow-x: hidden;
}

aside {
	position: fixed !important;
	top: 0;
	left: 0;
	height: 100%;
}

a:visited {
	color: #609;
}

mark,
.mark {
    color: #373a3c;
    background: #ff0;
	padding: 0;
}

/*
.mark-red {
    color: #373a3c;
    background: #ffc8c8;
	padding: 0;
}
*/

/* Left side navigation */
.c-navigation div {
	padding-top: .25rem;
	padding-bottom: .25rem;
	text-align: center;
	color: #eceeef;
}

.c-navigation div:first-child { margin-top: .5rem; }
.c-navigation div:last-child { margin-bottom: .5rem; }

.c-navigation div:hover {
	background-color: #0c0d0d;
	cursor: pointer;
}

/* JavaScript links */
.cursor-pointer,
[data-local-page] {
	cursor: pointer !important;
}

/* Item icons */
.item-icon {
	background: #999;
	height: 3rem;
	width: 3rem;
    border-radius: 0.3rem;
}

.item-icon img {
	height: 100%;
	width: 100%;
}

.item-icon.item-icon--lg {
	height: 64px;
    width: 64px;
    margin-top: 4px;
}

/* Coins */
.coin-copper { background: url(/img/coin_copper.png) center center no-repeat; }
.coin-silver { background: url(/img/coin_silver.png) center center no-repeat; }
.coin-gold   { background: url(/img/coin_gold.png) center center no-repeat; }

.coin {
	padding: 0.5rem;
	background-size: 1rem;
	margin: 0 3px;
	background-size: contain;
}

.coin-copper { margin-right: 0; }

/* Item rarity */
.item-rarity.item-rarity--Junk       { color: #aaa; }
.item-rarity.item-rarity--Basic      { color: #000; }
.item-rarity.item-rarity--Fine       { color: #62a4da; }
.item-rarity.item-rarity--Masterwork { color: #1a9306; }
.item-rarity.item-rarity--Rare       { color: #fcd00b; }
.item-rarity.item-rarity--Exotic     { color: #ffa405; }
.item-rarity.item-rarity--Ascended   { color: #fb3e8d; }
.item-rarity.item-rarity--Legendary  { color: #4c139d; }

.item-rarity a {
	color: inherit;
}

.app-title {
	border-bottom: 4px solid #373a3c;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

/* Middle of the screen wrapper */
.fluid-vp-wrapper {
	display: table;
	width: 100%;
}

.fluid-vp-wrapper > div {
	display: table-cell;
	vertical-align: middle;
	height: calc(100vh - 2rem);
}

/* Webkit scrollbar style */
aside::-webkit-scrollbar { display: none; }

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #373a3c;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background-color: rgba(0,0,0,1); }


/* Loading animation */
.spinner {
	display: inline-block;
	height: 40px;
	text-align: center;
}

.spinner > div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin: 1px;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	        animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	        animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	        animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	        animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	        animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
	}

	20% {
		-webkit-transform: scaleY(1.0);
	}
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}

	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

/* Range input */
input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: #0275d8;
	border-radius: .2rem;
}

input[type=range]::-webkit-slider-thumb {
	height: 18px;
	width: 18px;
	border-radius: 9px;
	background: #373a3c;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #0275d8;
}

.gem {
	background: url(/img/gem.png) center center no-repeat;
	padding: 0.5rem;
	background-size: 1rem;
	margin: 0 3px;
	background-size: contain;
}

.form-control:invalid:focus { border-color: #d9534f; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    /* position: static; */
}

.highcharts-container {
	position: static !important;
}
